body{
  width 100%
  height 100%
}
.hero h1 {
  font-family 'Matura MT Script Capitals'
}
  .hero p {
    font-family '幼圆'
  }

// 设置评论区的样式
.valine-wrapper #valine.v .vwrap {
  background #fff
  border 1px solid #bfbcbf
  background-image url("/pbg.png")
  background-size 100%
  background-repeat no-repeat
  opacity 0.8

  .vheader .vinput {
    border 1px solid #fff
  }
}